body {
  background-color: whitesmoke;
}

.header {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: goldenrod;
  color: #000;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.login {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.register {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 5rem;
}

form {
  padding: 10px;
}

.login input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}

.register input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}

.quiz-input {
  display: block;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}

button {
  border: none;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
}

.quiz-btn {
  border: none;
  margin-top: 1rem;
  padding: 1rem;
  width: 21.2rem;
  font-size: 1.2em;
  border-radius: 0.2rem;
  cursor: pointer;
}

.quiz-btn:hover {
  background-color: peru
}

button:hover {
  background-color: goldenrod
}

.header button {
  position: fixed;
  width: fit-content;
  height: fit-content;
  right: 20px;
  top: 8px;
  background-color: #373a47;
  color: whitesmoke;
}

.header h3 {
  position: fixed;
  left: 100px;
  top: 25px;
}

.leaderboard {
  text-align: center;
  justify-content: center;
  margin: 5rem;
  border: 5px solid black;
  border-radius: 3px;
}

.decks {
  display: flex;
  flex-wrap: wrap;
  padding-top: 100px;
  overflow: hidden;
}

.decks div {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
  border-radius: .5rem;
  height: 20rem;
  width: 400px;
}

.decks div img {
  flex-shrink: 0;
  width: auto;
  height: 100%;
  opacity: 50%;
  z-index: 10;
}

.decks div h1 {
  position: absolute;
  z-index: 999;
  justify-self: center;
  align-self: center;
}

.decks div p {
  position: fixed;
  max-width: 80%;
  display: flex;
  flex-wrap: wrap;
  z-index: 100;
  justify-self: center;
  align-self: center;
}

.decks div a {
  color: bisque;
}

.deck-Sports {
  background-color: crimson;
}

.deck-arts_and_leisure {
  background-color: darkmagenta;
}

.deck-History {

  background-color: navy;
}

.deck-Music {

  background-color: peru;

}

.deck-Science {

  background-color: seagreen;

}

.gamecards {
  display: flex;
  padding: 25px;
  width: 30%;
}

a {
  color: whitesmoke;

}

.quiz {
  display: flex;
  flex-direction: column;
  border-radius: 8rem;
  padding: 10%;
  margin: auto;
}